body {
  font-family: "Poppins", sans-serif;
  color: #777777;
  letter-spacing: 0.03em;
}
body.active {
  overflow: hidden;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ba0000;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

main {
  overflow: hidden;
}

.btn {
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  font-size: 0.75rem;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: 2px #fff solid;
  color: #fff;
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
@media (max-width: 480px) {
  .btn {
    width: 130px;
    height: 50px;
    font-size: 0.5625rem;
    line-height: 50px;
  }
}
.btn:hover, .btn.active {
  border-color: #ffcc00;
  background-color: #ffcc00;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
          box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
  color: #ba0000;
}

.btn--bold {
  font-weight: 700;
}

.btn--red {
  background-color: #a00000;
  color: #fff;
  border: none;
}

.header {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: #fff;
}
@media (max-width: 991px) {
  .header {
    font-size: 0.8em;
  }
}
.header__inner {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__head {
  background-color: #ba0000;
  position: relative;
  z-index: 5;
}
.header__head .header__inner {
  padding: 1.125em 0;
}
@media (max-width: 480px) {
  .header__head .header__inner {
    padding: 0.6em 0;
  }
}
.header__head .header__lang {
  position: relative;
  color: #fff;
}
.header__head .header__lang.active .header__lang-title .fa {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header__head .header__lang.active .header__lang-link {
  display: block;
}
.header__head .header__lang:hover {
  cursor: pointer;
}
.header__head .header__lang-link {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 25px;
  left: 0;
  padding: 5px;
  border-top: 1px solid #ffcc00;
  color: #fff;
  background-color: #ba0000;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(186, 0, 0, 0.4);
          box-shadow: 0px 10px 18px 0px rgba(186, 0, 0, 0.4);
}
.header__head .header__lang-link:hover {
  background-color: #751616;
}
.header__head .header__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__head .header__right-block .header__contact {
  margin-right: 30px;
  color: #fff;
}
@media (max-width: 480px) {
  .header__head .header__right-block .header__contact {
    margin-right: 5px;
  }
}
.header__head .header__right-block .header__contact:hover {
  color: rgb(212, 210, 210);
}
.header__head .header__right-block .header__country {
  position: relative;
}
.header__head .header__right-block .header__country:hover {
  cursor: pointer;
}
.header__head .header__right-block .header__country.active .header__country-links {
  display: block;
}
.header__head .header__right-block .header__country.active .header__country-title .fa {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header__head .header__right-block .header__country-links {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 25px;
  left: 0;
  padding: 5px 0;
  background-color: #ba0000;
  border-top: 1px solid #ffcc00;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(186, 0, 0, 0.4);
          box-shadow: 0px 10px 18px 0px rgba(186, 0, 0, 0.4);
  display: none;
}
.header__head .header__right-block .header__country-link {
  display: block;
  color: #fff;
  padding: 0 5px;
}
.header__head .header__right-block .header__country-link:hover {
  background-color: #751616;
}
.header__body {
  text-transform: uppercase;
  background-color: #ffcc00;
  position: relative;
}
.header__body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  height: 100%;
  width: 100%;
  background-color: #ffcc00;
}
@media (max-width: 991px) {
  .header__body {
    font-size: 0.8em;
  }
}
.header__body .header__inner {
  padding-right: 1.1em;
}
.header__body .header__logo {
  position: relative;
  z-index: 4;
}
.header__body .nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}
@media (max-width: 767px) {
  .header__body .nav {
    position: fixed;
    overflow: auto;
    top: 0;
    left: -100%;
    z-index: 3;
    padding: 90px 0;
    font-size: 2em;
    height: 100%;
    width: 100%;
    background-color: #ffcc00;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    display: block;
  }
  .header__body .nav.active {
    left: 0;
  }
  .header__body .nav.active .nav__link {
    padding-left: 15px;
  }
}
.header__body .nav .nav__link {
  text-transform: uppercase;
  color: #ba0000;
  padding: 2.4375em 1.4em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media (max-width: 767px) {
  .header__body .nav .nav__link {
    display: block;
    height: auto;
    padding: 0;
  }
}
.header__body .nav .nav__link:hover {
  font-weight: 700;
}
.header__body .nav .nav__link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ba0000;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.header__body .nav .nav__link:hover::before {
  opacity: 1;
}
.header__body .header__search {
  width: 3.6em;
  height: 3.6em;
  background-color: #ba0000;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(186, 0, 0, 0.4);
          box-shadow: 0px 10px 18px 0px rgba(186, 0, 0, 0.4);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 4;
}

.burger {
  position: absolute;
  z-index: 4;
  right: 70px;
  width: 25px;
  display: none;
}
@media (max-width: 767px) {
  .burger {
    display: block;
  }
}
.burger span {
  display: block;
  font-size: 0;
  height: 3px;
  width: 100%;
  background-color: #ba0000;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #ba0000;
}
.burger::before {
  top: -8px;
}
.burger::after {
  bottom: -8px;
}

.intro {
  padding: 180px 0;
  background: url(../img/intro/intro_bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 991px) {
  .intro {
    padding: 100px 0;
  }
}
@media (max-width: 480px) {
  .intro {
    padding: 50px 0;
  }
}
.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -o-linear-gradient(45deg, #ba0000 20%, rgba(255, 204, 0, 0) 79%);
  background-image: linear-gradient(45deg, #ba0000 20%, rgba(255, 204, 0, 0) 79%);
}
.intro__inner {
  position: relative;
  height: 100%;
  padding-right: 34.188034188%;
}
@media (max-width: 991px) {
  .intro__inner {
    padding-right: 0;
  }
}
.intro__inner .intro__title {
  font-size: 4.375rem;
  line-height: 1.1428571429;
  color: #ffffff;
  padding-bottom: 0.57em;
  margin-bottom: 0.57em;
  position: relative;
}
@media (max-width: 991px) {
  .intro__inner .intro__title {
    font-size: 3.75rem;
  }
}
@media (max-width: 480px) {
  .intro__inner .intro__title {
    font-size: 3.125rem;
  }
}
.intro__inner .intro__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 4px;
  background-color: #ffcc00;
}
.intro__inner .intro__text {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #ffcc00;
  margin-bottom: 2em;
}
@media (max-width: 991px) {
  .intro__inner .intro__text {
    font-size: 1.0625rem;
  }
}
.intro__inner .intro__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 61px;
}
@media (max-width: 767px) {
  .intro__inner .intro__list {
    margin-bottom: 40px;
  }
}
.intro__inner .intro__list li {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #ffffff;
  margin-right: 1.3em;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .intro__inner .intro__list li {
    font-size: 1.0625rem;
  }
}
@media (max-width: 480px) {
  .intro__inner .intro__list li {
    font-size: 0.9375rem;
    margin-right: 0.6em;
  }
}
.intro__inner .intro__list li .intro__dot {
  color: #ffcc00;
}
.intro__inner .intro__list li:first-child {
  margin-left: 0;
}
.intro__inner .intro__list li:last-child {
  margin-right: 0;
}
.intro__inner .intro__btns .intro__btn {
  margin-right: 20px;
}
@media (max-width: 480px) {
  .intro__inner .intro__btns .intro__btn {
    margin-right: 10px;
  }
}

.services {
  padding: 50px 0 105px;
}
@media (max-width: 767px) {
  .services {
    padding: 0;
  }
}
.services__head {
  position: relative;
  margin-bottom: 30px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .services__head {
    margin-bottom: 0;
  }
}
.services__head .services__title {
  font-size: 9.375rem;
  text-transform: uppercase;
  color: #f8f8f8;
}
@media (max-width: 767px) {
  .services__head .services__title {
    font-size: 6.25rem;
    margin-bottom: 0;
  }
}
@media (max-width: 590px) {
  .services__head .services__title {
    font-size: 5.625rem;
  }
}
@media (max-width: 480px) {
  .services__head .services__title {
    font-size: 3.75rem;
  }
}
.services__head .services__subtitle {
  font-size: 3.125rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  color: #ba0000;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 767px) {
  .services__head .services__subtitle {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .services__head .services__subtitle {
    font-size: 1.5625rem;
  }
}
.services__body .services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
@media (max-width: 767px) {
  .services__body .services__items {
    margin: 0 -10px;
  }
}
.services__body .services__items .services__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0 15px;
}
@media (max-width: 1199px) {
  .services__body .services__items .services__item {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .services__body .services__items .services__item {
    padding: 0 10px;
  }
}
@media (max-width: 590px) {
  .services__body .services__items .services__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.services__body .services__items .services__item-img {
  width: 100%;
}
.services__body .services__items .services__item-img img {
  min-width: 100%;
}
.services__body .services__items .services__item-text {
  line-height: 1.625;
  margin-bottom: 10px;
}
.services__body .services__items .services__item-link {
  color: #222222;
  font-weight: 700;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.services__body .services__items .services__item-link:hover {
  color: #ba0000;
}
.services__body .services__items .services__item-link .fa {
  color: #ba0000;
}
.services__body .services__form {
  background-color: #ba0000;
  padding: 30px;
  color: #ffffff;
}
@media (max-width: 1199px) {
  .services__body .services__form {
    height: 100%;
  }
}
.services__body .services__form-title {
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
  color: #ffffff;
}
.services__body .services__form-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 33.3333333333%;
  background-color: #ffcc00;
}
.services__body .services__form-text {
  line-height: 1.625rem;
  margin-bottom: 39px;
}
.services__body .services__form form .select-inner {
  position: relative;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left top, right top, color-stop(75%, #9d0000), color-stop(75%, #ffcc00));
  background: -o-linear-gradient(left, #9d0000 75%, #ffcc00 75%);
  background: linear-gradient(to right, #9d0000 75%, #ffcc00 75%);
}
@media (max-width: 1199px) and (min-width: 900px) {
  .services__body .services__form form .select-inner {
    background: -webkit-gradient(linear, left top, right top, color-stop(90%, #9d0000), color-stop(90%, #ffcc00));
    background: -o-linear-gradient(left, #9d0000 90%, #ffcc00 90%);
    background: linear-gradient(to right, #9d0000 90%, #ffcc00 90%);
  }
}
.services__body .services__form form .select-inner::before {
  content: "";
  color: #9d0000;
  text-align: center;
  height: 100%;
  width: 25%;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/icons/angle-down-pngrepo-com.png) 50% 50% no-repeat;
  background-size: 1.5rem;
  pointer-events: none;
}
@media (max-width: 1199px) and (min-width: 900px) {
  .services__body .services__form form .select-inner::before {
    width: 10%;
  }
}
.services__body .services__form form select {
  -webkit-appearance: NONE;
     -moz-appearance: NONE;
          appearance: NONE;
  padding: 1em;
  width: 100%;
  position: relative;
  color: #fff;
  cursor: pointer;
}
.services__body .services__form form select:focus {
  outline: 1px solid #ffcc00;
}
.services__body .services__form form select option {
  background-color: #9d0000;
  color: #fff;
}
.services__body .services__form .services__btn {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.services__body .services__form .services__btn:hover {
  background: #ba0000;
  color: #fff;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.about {
  position: relative;
}
.about .about__video {
  position: absolute;
  z-index: -1;
  height: 700px;
}
@media (max-width: 991px) {
  .about .about__video {
    height: 590px;
  }
}
@media (max-width: 767px) {
  .about .about__video {
    height: 430px;
  }
}
.about .about__video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 204, 0, 0.7)), to(rgba(186, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(255, 204, 0, 0.7) 0%, rgba(186, 0, 0, 0) 100%);
  background-image: linear-gradient(0deg, rgba(255, 204, 0, 0.7) 0%, rgba(186, 0, 0, 0) 100%);
}
.about .about__video img {
  height: 100%;
  width: auto;
}
.about__title {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 700;
  color: #ffffff;
  padding: 150px 0 0 0;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .about__title {
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  .about__title {
    font-size: 1.9rem;
    margin-bottom: 35px;
    padding: 0 10px;
    padding-top: 50px;
  }
}
.about__play-btn {
  width: 70px;
  height: 70px;
  background-color: #ffcc00;
  border: 2px solid #ffcc00;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
          box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 178px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.about__play-btn:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
@media (max-width: 1199px) {
  .about__play-btn {
    margin-bottom: 140px;
  }
}
@media (max-width: 991px) {
  .about__play-btn {
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .about__play-btn {
    width: 60px;
    height: 60px;
    margin-bottom: 90px;
  }
}
.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
@media (max-width: 991px) {
  .about__items {
    margin: 0 -10px;
  }
}
.about .about__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}
@media (max-width: 991px) {
  .about .about__item {
    padding: 10px;
  }
}
@media (max-width: 699px) {
  .about .about__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 540px) {
  .about .about__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.about .about__item-inner {
  -webkit-box-shadow: 0px 10px 18px 0px rgba(191, 191, 191, 0.4);
          box-shadow: 0px 10px 18px 0px rgba(191, 191, 191, 0.4);
  background-color: #ffffff;
  width: 100%;
}
.about .about__item-inner .about__item-img img {
  width: 100%;
}
.about .about__item-inner .about__item-content {
  padding: 30px;
}
@media (max-width: 991px) {
  .about .about__item-inner .about__item-content {
    padding: 15px 10px;
  }
}
.about .about__item-inner .about__item-content .about__item-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ba0000;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .about .about__item-inner .about__item-content .about__item-title {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
@media (max-width: 1199px) {
  .about .about__item-inner .about__item-content .about__item-list {
    font-size: 0.9rem;
  }
}
@media (max-width: 1199px) {
  .about .about__item-inner .about__item-content .about__item-list {
    font-size: 0.8rem;
  }
}
.about .about__item-inner .about__item-content .about__item-list .fa-caret-right {
  margin-right: 10px;
  color: #ffcc00;
}
@media (max-width: 991px) {
  .about .about__item-inner .about__item-content .about__item-list .fa-caret-right {
    margin-right: 5px;
  }
}

.exlog {
  padding: 100px 0;
}
@media (max-width: 767px) {
  .exlog {
    padding: 50px 0;
  }
}
@media (max-width: 480px) {
  .exlog {
    font-size: 0.9em;
  }
}
.exlog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.exlog__inner .exlog__tabs {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background-color: #ba0000;
}
@media (max-width: 767px) {
  .exlog__inner .exlog__tabs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.exlog__inner .exlog__tabs-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.exlog__inner .exlog__tabs-nav .exlog__tabs-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: block;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
}
@media (max-width: 840px) {
  .exlog__inner .exlog__tabs-nav .exlog__tabs-btn {
    padding: 15px;
  }
}
.exlog__inner .exlog__tabs-nav .exlog__tabs-btn.active {
  background-color: #ffcc00;
  color: #ba0000;
  font-weight: 700;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
          box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
}
.exlog__inner .exlog__tabs .exlog__tabs-item {
  display: none;
}
.exlog__inner .exlog__tabs .exlog__tabs-item.active {
  display: block;
}
.exlog__inner .exlog__tabs .exlog__exps,
.exlog__inner .exlog__tabs .exlog__logs {
  padding: 40px 40px 20px;
}
@media (max-width: 840px) {
  .exlog__inner .exlog__tabs .exlog__exps,
.exlog__inner .exlog__tabs .exlog__logs {
    padding: 20px;
  }
}
.exlog__inner .exlog__tabs .exlog__exps .exlog__item,
.exlog__inner .exlog__tabs .exlog__logs .exlog__item {
  margin-bottom: 20px;
}
.exlog__inner .exlog__tabs .exlog__exps .exlog__item:hover,
.exlog__inner .exlog__tabs .exlog__logs .exlog__item:hover {
  cursor: pointer;
}
.exlog__inner .exlog__tabs .exlog__exps .exlog__item.active .exlog__trigger,
.exlog__inner .exlog__tabs .exlog__logs .exlog__item.active .exlog__trigger {
  color: #ba0000;
  font-weight: 700;
  background-color: #ffcc00;
  border: 2px solid #ffcc00;
}
.exlog__inner .exlog__tabs .exlog__exps .exlog__item.active .exlog__trigger .fa,
.exlog__inner .exlog__tabs .exlog__logs .exlog__item.active .exlog__trigger .fa {
  border-right: 2px solid #ba0000;
  border-left: none;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.exlog__inner .exlog__tabs .exlog__exps .exlog__item.active .exlog__content,
.exlog__inner .exlog__tabs .exlog__logs .exlog__item.active .exlog__content {
  display: block;
}
.exlog__inner .exlog__tabs .exlog__exps .exlog__item .exlog__trigger,
.exlog__inner .exlog__tabs .exlog__logs .exlog__item .exlog__trigger {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 20px;
  position: relative;
}
@media (max-width: 480px) {
  .exlog__inner .exlog__tabs .exlog__exps .exlog__item .exlog__trigger,
.exlog__inner .exlog__tabs .exlog__logs .exlog__item .exlog__trigger {
    font-size: 0.9em;
  }
}
.exlog__inner .exlog__tabs .exlog__exps .exlog__item .exlog__trigger .fa,
.exlog__inner .exlog__tabs .exlog__logs .exlog__item .exlog__trigger .fa {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 20px;
  line-height: normal;
  border-left: 2px solid #fff;
}
.exlog__inner .exlog__tabs .exlog__exps .exlog__item .exlog__content,
.exlog__inner .exlog__tabs .exlog__logs .exlog__item .exlog__content {
  padding: 24px 20px;
  color: #fff;
  background-color: #a30000;
  border: 2px solid #ffcc00;
  border-top: none;
  display: none;
}
@media (max-width: 480px) {
  .exlog__inner .exlog__tabs .exlog__exps .exlog__item .exlog__content,
.exlog__inner .exlog__tabs .exlog__logs .exlog__item .exlog__content {
    font-size: 0.9em;
    padding: 20px 15px;
  }
}
.exlog__inner .exlog__tabs .exlog__exps .exlog__item .exlog__content .exlog__label,
.exlog__inner .exlog__tabs .exlog__logs .exlog__item .exlog__content .exlog__label {
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-bottom: 15px;
}
.exlog__inner .exlog__tabs .exlog__exps .exlog__item .exlog__content .exlog__list li,
.exlog__inner .exlog__tabs .exlog__logs .exlog__item .exlog__content .exlog__list li {
  margin-bottom: 10px;
}
.exlog__inner .exlog__tabs .exlog__exps .exlog__item .exlog__content .exlog__list li .fa,
.exlog__inner .exlog__tabs .exlog__logs .exlog__item .exlog__content .exlog__list li .fa {
  font-size: 1.25rem;
  color: #ffcc00;
  margin-right: 10px;
}
.exlog__inner .exlog__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
@media (max-width: 767px) {
  .exlog__inner .exlog__img {
    display: none;
  }
}
.exlog__inner .exlog__img img {
  max-height: 100%;
  width: 100%;
}

.features {
  background-color: #ba0000;
  padding: 100px 0;
  color: #ffffff;
}
@media (max-width: 767px) {
  .features {
    padding: 50px 0 30px;
    font-size: 0.9em;
  }
}
.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .features__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.features__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65.811965812%;
          flex: 0 1 65.811965812%;
  padding-right: 30px;
}
@media (max-width: 824px) {
  .features__content {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .features__content {
    margin-bottom: 20px;
  }
}
.features__title {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 41px;
}
@media (max-width: 824px) {
  .features__title {
    margin-bottom: 30px;
    font-size: 1.8em;
  }
}
.features__text {
  line-height: 24px;
}

.client {
  padding: 70px 0;
}
@media (max-width: 991px) {
  .client {
    padding: 50px 0px;
  }
}
@media (max-width: 767px) {
  .client {
    padding: 30px 0px 0px;
  }
}
.client__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 -15px;
}
@media (max-width: 480px) {
  .client__inner {
    margin: 0 -5px;
  }
}
.client__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .client__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .client__card {
    margin-bottom: 10px;
    padding: 0 5px;
  }
}
.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #f9f9f9;
  border: 2px solid #f8efef;
  padding: 45px 17px;
  cursor: pointer;
}
@media (max-width: 991px) {
  .client__link {
    padding: 30px 17px;
  }
}
@media (max-width: 480px) {
  .client__link {
    padding: 5px;
  }
}
.client__link img {
  max-width: 100%;
  height: auto;
}
.client__link:hover {
  border: 2px solid #ba0000;
}

.footer {
  padding: 61px 0 90px;
  background: url(../img/footer/footer_1.png) left no-repeat, url(../img/footer/footer_2.png) right no-repeat;
}
.footer__inner {
  max-width: 870px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__title {
  margin-bottom: 30px;
}
.footer__list .fa {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: #ba0000;
}
.footer__link {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  text-transform: uppercase;
  font-weight: 700;
  color: #777777;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.footer__link:hover {
  color: #ffcc00;
}
.footer__social .footer__link:hover {
  color: #017edf;
}